{% extends 'default.html' %}

{% load custom_tags %}

{% block title %}
Announcements
{% endblock title %}

{% block content %}
    <p></p>
    <h3 style="text-align: left;">
        Announcements  of @{{ user.username }} | <a href="{% url 'announcement_create' %}"> Create new announcement </a>
    </h3>
    <h3 style="text-align: left;">
    </h3>
    <p></p>
    <hr/>
    {% if announcements %}
        {% for announcement in announcements %}
            <div align="left" style="background-color: #F0FFF0">
                <h4 style="text-align: left;"> <a href="{% url 'announcement_update' pk=announcement.id %}"> Update </a> </h4>
                <h4 style="color: #000000">
                    Category: {{ announcement.category }}
                </h4>
                <p></p>
                <h3>
                    <a href="{% url 'announcement_detail' pk=announcement.id %}">"{{ announcement.title }}":</a>
                </h3>
                <h4>
                    {{announcement.announcement_text|safe }}
                </h4>
                <h6 style="text-align: left; color: #696969" >
                    Date: {{ announcement.time_in|date:'d M Y' }} <span style='padding-left:1000px;'> author: @{{ announcement.author }} </span>
                </h6>
            </div>
            <div align="left" style="background-color: #F0FFFF">
                {% if announcement.comments.all|length > 0 %}
                    <h3>Comments for "{{ announcement.title }}":</h3>
                    {% for comment in announcement.comments.all %}
                        <h5 style="color: #696969">
                            Author of comment: @{{ comment.author.author_name.username }}
                        </h5>
                        <h4 style="text-align: left;">
                            {{ comment.comment_text }}
                        </h4>
                        <h5 style="text-align: center;">
                            <a href="{% url 'comment_delete' pk=comment.id %}"> Delete comment </a> | <a href="{% url 'comment_allow' pk=comment.id %}"> Allow comment </a>
                        </h5>
                        <hr/>
                    {% endfor %}
                {% else %}
                    <h3> - No comments for "{{ announcement.title }}"</h3>
                {% endif %}
            </div>
            <p></p>
        {% endfor %}
    {% else %}
        <h3>No announcements</h3>
    {% endif %}
{% endblock content %}