{% extends 'default.html' %}

{% block content %}
    <h2 style="text-align: center;">Comments for selected announcement:</h2>
    <p></p>
    <form action="" method="get" style="text-align: center;">
        {{ filterset.form.as_p }}
        <input  type="submit" value="Search">
    </form>
    <hr>
    {% if filterset.qs %}
        {% for comment in filterset.qs  %}
            <div align="left" style="background-color: #F0FFFF">
                <h5 style="color: #696969">
                    Author of comment: @{{ comment.author.author_name.username }}
                </h5>
                <h4 style="text-align: left;">
                    {{ comment.comment_text }}
                </h4>
                <h5 style="text-align: center;">
                    {% if comment and comment.allowed == False %}
                        <a href="{% url 'comment_delete' pk=comment.id %}"> Delete comment </a> | <a href="{% url 'comment_allow' pk=comment.id %}"> Allow comment </a>
                    {% elif comment.allowed == True %}
                        Отклик принят!
                        <br/>
                        <a href="{% url 'comment_delete' pk=comment.id %}"> Delete comment </a>
                    {% endif %}
                </h5>
            </div>
        {% endfor %}
    {% else %}
        <h3>No comments for this announcement!</h3>
    {% endif %}
{% endblock content %}